/*general*/
* {
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 195);
    font-family: Arial, Helvetica, sans-serif;
}

/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
}
.navimage{
    margin-top: 1vmin;
    margin-left: 8vmin;
}
nav img{
    display: flex;
    height: 17vmin;
    width: 17vmin;
    align-items: center;
    border-radius: 10000px;
}
nav ul{
    margin-right: 4vmin;
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 6vmin;
    font-size: 3.5vmin;
    font-weight: 500;
    list-style: none;
}
nav a{
    color: inherit;
    text-decoration: inherit;
}
nav a:hover{
    color: #b80009;
    font-weight: 550;
}
.current-page a{
    color: #910007;
    font-weight: 600;
}

/*footer*/
.footer{
    display: flex;
    justify-content: space-between;
    height: 25vmin;
    text-align: center;
}
.footer div{
    margin-right: 5vmin;
    margin-left: 15vmin;
}
.footer h1{
    font-size: 2.8vmin;
    font-weight: 500;
}
.footer hr{
    height: 0.2vmin;
    width: 22.5vmin;
    border: 1px black;
    background-color: black;
    color: black;
}
.footer a{
    color: inherit;
    text-decoration: inherit;
}
.footer a:hover{
    color: #910007;
    font-weight: bold;
}
.footer li{
    margin-top: 0.5vmin;
    list-style: none;
}

.credit{
    text-align: center;
    margin-bottom: 2vmin;
}
.credit a{
    font-size: 3vmin;
    color: black;
    text-decoration: inherit;
    font-style: none;
}
.credit a:hover{
    color: #910007;
    font-weight: 500;
}
