/*middenstuk*/
.middenstuk{
    height: 80vmin;
}
.contact-form{
    display: none;
    background-color: rgb(168, 168, 147);
    margin-top: 50vmin;
    margin-left: 50vmin;
}
.form{
    display: none;
    background-color: rgb(168, 168, 147);
    height: 80vmin;
    width: 160vmin;
    position: absolute;
    top: 0;
    left: 0;
}
